/__MACOSX
/Pop1K7
/prompt_song
/tutorial
Pop1K7.zip
prompt_song.zip
tutorial.zip
checkpoint
/results
__pycache__
pop1k7.csv
/checkpoint_base
/results_task1-1
/results_task1-2
/results_task1-3
/results_task1-4
/results_task1-5
/results_task1-6
/results_task2
